<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:fragment="fragment_config">
    <meta charset="UTF-8" />
    <!-- common css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- template -->
    
   
    <!-- page css -->
    <th:block layout:fragment="page_css"></th:block>
    
    <!-- adsense --> 
    <script data-ad-client="ca-pub-6956144461598099" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
   	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
	
	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

  	<script>
	  var firebaseConfig = {
	    apiKey: "AIzaSyAAUrapo6wwql44R10K_hcJn_Yr1Ul_nyQ",
	    authDomain: "lottois.firebaseapp.com",
	    databaseURL: "https://lottois.firebaseio.com",
	    projectId: "lottois",
	    storageBucket: "lottois.appspot.com",
	    messagingSenderId: "379480373953",
	    appId: "1:379480373953:web:e8a947164d03eb027bb240",
	    measurementId: "G-HJH016B2QS"
	  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	  firebase.analytics();
  	</script>


    <!-- page script -->
    <th:block layout:fragment="page_script"></th:block>
  </head>
</html>