<html>
<head>
<script type="text/javascript" src="/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/popper.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/lotto.css">
<script>
	$(document).ready(function(){
	  /* var message = "[[${lotto}]]";
	  console(message); */
	  
	});
</script>
</head>
<body>
	 
	<div class="container mt-5">    
		<div class="d-flex justify-content-end">
			<form action="/index" method="get">
				<span class="btn-group"><h4 class="unit label">회차 바로가기</h4></span>
				<select name="order" class="mdb-select md-form">
				  <th:block th:each="num: ${#numbers.sequence(lotto.lastOrder, 1, -1)}">
				  	<option th:value="${num}" th:text="${num}" th:selected="${num==lotto._order}"/>
				  </th:block>
				</select>
				
				<input type="submit" class="btn btn-primary lift ml-2"/>
			</form>
		</div>
		<div class="mt-5">
			<h1 class="d-flex justify-content-center header-title" th:text="|로또 ${lotto._order}회 당첨결과|"/>
			<p class="desc d-flex justify-content-center header-title" th:text="|( ${lotto.winDate} )|"/>
			<div class="nums mt-5">
				<div class="num win">
					<h4 class="d-flex justify-content-center header-title">당첨번호</h4>
					<p class="d-flex justify-content-center header-title">
						<span class="ball_645 lrg mr-2" th:classappend="${lotto.getCssColr(lotto.num1)}" th:text="|${lotto.num1}|"/>
						<span class="ball_645 lrg mr-2" th:classappend="${lotto.getCssColr(lotto.num2)}" th:text="|${lotto.num2}|"/>
						<span class="ball_645 lrg mr-2" th:classappend="${lotto.getCssColr(lotto.num3)}" th:text="|${lotto.num3}|"/>
						<span class="ball_645 lrg mr-2" th:classappend="${lotto.getCssColr(lotto.num4)}" th:text="|${lotto.num4}|"/>
						<span class="ball_645 lrg mr-2" th:classappend="${lotto.getCssColr(lotto.num5)}" th:text="|${lotto.num5}|"/>
						<span class="ball_645 lrg mr-2" th:classappend="${lotto.getCssColr(lotto.num6)}" th:text="|${lotto.num6}|"/>
					</p>
				</div>
				<div class="num bonus">
					<h4 class="d-flex justify-content-center header-title">보너스</h4>
					<p class="d-flex justify-content-center"><span class="header-title ball_645 lrg" th:classappend="${lotto.getCssColr(lotto.num7)}"  th:text="|${lotto.num7}|"/></p>
				</div>
			</div>
		</div>
		<table class="table table-sm table-nowrap table-hover mt-5">
			 <caption th:text="| ${lotto._order}회  순위별 등위별 총 당첨금액, 당첨게임 수, 1게임당 당첨금액, 당첨기준, 비고 안내|"/>
			 <colgroup>
				 <col style="width:85px">
				 <col style="width:180px">
				 <col style="width:145px">
				 <col style="width:180px">
				 <col>
				 <col style="width:110px">
			 </colgroup>
			 <thead class="thead-dark">
				 <tr>
					 <th scope="col" class="text-center">순위</th>
					 <th scope="col" class="text-center">등위별 총 당첨금액</th>
					 <th scope="col" class="text-center">당첨게임 수</th>
					 <th scope="col" class="text-center">1게임당 당첨금액</th>
					 <th scope="col" class="text-center">당첨기준</th>
					 <th scope="col" class="text-center">비고</th>
				 </tr>
			 </thead>
			 <tbody>
			 	 <th:block th:each="dto : ${lotto.gradeList}">
				 	<tr>
						 <td class="text-center" th:text="|${dto.rank}등|"/>
						 <td class="tar text-right"><strong class="color_key1" th:text="|${#numbers.formatInteger(dto.winPrc, 3, 'POINT')}원|"/>
						 <td class="text-right" th:text="|${#numbers.formatInteger(dto.winCnt, 0, 'POINT')}|"/>
						 <td class="tar text-right" th:text="|${#numbers.formatInteger(dto.winPrcGm, 3, 'POINT')}원|"/>
						 <td class="text-center length" th:text="|${dto.winRule}|"/>
						 <th:block th:if="${dtoStat.index} == 0">
						 	<td class="text-center align-middle" rowspan="5" th:text="|${lotto.etc}|"/>
						 </th:block>
					</tr>
				 </th:block>
			 </tbody>
		 </table>
		 <ul class="card mt-4">
			<li th:text="|${lotto.payLimit}|"/>
			<li>총판매금액 : <strong th:text="|${#numbers.formatInteger(lotto.totalSalesPrc, 3, 'POINT')}원|"/></li>
		 </ul>
	 </div>
</body>
</html>